/* You can add global styles to this file, and also import other style files */


form.user .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
    cursor: pointer;
    color: white;
}

form.user .btn-user:hover {
    color: white;
}

form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.2rem 1rem;
}

.btn-block+.btn-block {
    margin-top: .5rem;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.btn-google:hover {
    color: #fff;
    background-color: #e12717;
    border-color: #e6e6e6;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #30497c;
    border-color: #e6e6e6;
}

.o-hidden {
    overflow: hidden !important;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */